@media screen and (max-width: 767px) {
  .about-us-item {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  .about-us-item-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us-icon-svg {
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70px;
    height: 70px;
    padding-top: 25px;
    padding-right: 190px;
    padding-bottom: 25px;
    padding-left: 190px;
    background-color: #f5f4fa;
  }
  .about-us-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
    // text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
  }
  .about-us-text {
    width: 450px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  .about-us-item-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
