.follow-us-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-text-color;
}
