.join-in-title {
  margin: 0;
  margin-bottom: 20px;

  text-align: center;
}
.join-in-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $second-text-color;
}
.join-in-link-social {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.join-in-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.join-in-social-list:not(:last-child) {
  margin-right: 10px;
}
.icon-container-link.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
}
