.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-left: 0;
  background-color: #f5f4fa;
}
.our-team-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}
.our-team-item-list {
  padding-bottom: 24px;
  text-align: center;
  background-color: $second-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-item-list:not(:last-child) {
  margin-bottom: 30px;
}
.our-team-social-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.our-team-social-svg {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.icon-container-link {
  &:hover .our-team-social-svg,
  &:focus .our-team-social-svg {
    fill: $accent-color;
  }
}
.icon-container:not(:last-child) {
  margin-right: 22px;
}
.our-team.social {
  padding: 0;
  background-color: $second-text-color;
}
.our-team-item {
  padding: 0;
}
.our-team-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: $title-text-color;
}
.our-team-item-photo {
  margin-bottom: 30px;
}
.our-team-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.icon-container-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-container-link:hover,
.icon-container-link:focus {
  background-color: #2196f3;
}
.icon-container-link:hover .our-team-social-svg,
.icon-container-link:focus .our-team-social-svg {
  fill: #fff;
}
