.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: tomato;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    background-color: grey;
    width: 1200px;
  }
}
